<!DOCTYPE html>
<html>
<head>
    <title>Loyalty - Riget Zoo Adventures</title>
    <!--CSS start--> 
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <!--CSS end--> 
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/bookings">Bookings</a>
        <a href="/loyalty">Loyalty</a>
        <a href="/education">Education</a>
    </nav>
    <h1>Loyalty Program Coming Soon!</h1>
    <footer>&copy; 2025 Riget Zoo Adventures</footer>
<!--Javascript start--> 
<script src="{{ url_for('static', filename='script.js') }}"></script>
<!--Javascript end--> 
</body>
</html>
